node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store


.env
/.tamagui
.tamagui
.tamagui/tamagui.config.json
.firebase/hosting.ZGlzdA.cache
/ios
/android
.env.production
