{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^firebase/",
    "^react-native$",
    "^@/(?!components/)",
    "^@tamagui/",
    "^tamagui$",
    "^@/models/",
    "^(?!yup$)\\w[\\w-]*\\w$",
    "^yup$",
    "@hookform/resolvers/yup",
    "^@/components",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
